<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-c om:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <style>
      h3 {
        font-size: 17px;
        color: #333;
      }
      h2 {
        color: #222;
        font-size: 30px;
      }
      h1 {
        font-size: 40px !important;
        margin: 0 !important;
      }
      .sign-in {
        border: 0;
        background: #e71d1d;
        color: #fff;
        padding: 0.8em 2em;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
      }
      p {
        font-size: 18px !important;
      }
      li{ 
        font-size: 16px !important;
      }
      .nav-bar {
        padding: 0.5em !important;
      }
      footer {
        padding: 3em 2em 1em;
      }

      @media (width <= 400px) {
        footer {
          padding: 3em 16px 16px;
        }
        .body1 {
          padding: 0 16px !important;
        }
        p {
          font-size: 16px !important;
        }
        li {
          font-size: 16px !important;
        }
        h2 {
          font-size: 24px;
        }
        .beneficios {
          padding: 2em 16px !important;
        }
      }
    </style>
  </head>

  <body
    lang="en"
    link="#DD0000"
    vlink="#DD0000"
    class="emailify"
    style="
      mso-line-height-rule: exactly;
      mso-hyphenate: none;
      word-spacing: normal;
      background-color: #eee;
    "
  >
    <div style="max-width: 600px; margin: auto; background: #fff">
      <div class="nav-bar" style="background-color: #333; padding: 20px 0">
        <h1
          class="font-principal"
          style="
            color: #fff;
            font-size: 40px;
            margin: 0 0;
            text-align: center;
            font-family: serif;
            font-weight: 800;
            font-style: normal;
          "
        >
          PayMarket
        </h1>
      </div>
      <img
        style="width: 100%"
        src="https://tlr.stripocdn.email/content/guids/CABINET_26f7726bcadd97a2ab03d54f86a8b630ca314b98bfcd8c5969ac3c828e7d2b89/images/highviewlaptopblackshoppingcard.jpg"
        alt=""
      />
      <div class="body1" style="padding: 0 16px; font-size: 18px">
        <h2 style="text-align: center; padding: 15px 0">
          Welcome to PayMarket!
        </h2>
        <p>Dear {{name}}</p>
        <p style="text-align: justify">
          Thank you for joining Epaycon Technical Test Backend. We are delighted that you have decided to 
          make a purchase with us and become part of our online shopping community.
          This email is to confirm that your payment has been successfully created.
        </p>

        <h2 style="text-align: center; margin-bottom: 0.5em; margin-top: 2em">
          Verify your 6-digit code
        </h2>
        <div>
          <table>
            <tbody>
              <tr>
                <td align="center" width="600" style="
                        border: 0;
                        background: #b6b7bd;
                        padding: 1.2em 0.5em;
                        border-radius: 10px;
                        font-size: 20px;
                        font-weight: 600;">
                      {{token}}
                </td>
              </tr>

              <tr>
                <td align="center" width="600">
                      <br>
                </td>
              </tr>

              <tr>
                <td align="center" width="600">
                  <a href="{{host}}:{{port}}/order/{{sesionId}}/{{token}}">
                    <button
                      class="sign-in"
                      style="
                        border: 0;
                        background: #e71d1d;
                        color: #fff;
                        padding: 0.8em 2em;
                        border-radius: 30px;
                        font-size: 16px;
                        font-weight: 600;
                        cursor: pointer;
                      "
                    >
                      VERIFY
                    </button>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div
        class="beneficios"
        style="
          background: #333;
          padding: 32px 16px;
          margin-top: 3em;
          color: #fff;
        "
      >
        <h2
          style="
            text-align: center;
            color: #fff !important;
            font-size: 40px;
            margin: 0;
            font-family: serif;
            font-weight: 800;
            font-style: normal;
          "
          class="font-principal"
        >
          Benefits
        </h2>
        <p style="font-size: 18px; text-align: justify; margin-top: 2em">
          By having an PayMarket account, you will enjoy the following advantages:
        </p>
        <ul style="padding-left: 1em !important">
          <li>Access to exclusive discounts and special offers.</li>
          <li>Updates on new products and launches.</li>
          <li>Track your orders and shipping status.</li>
          <li>
            Option to save your favorite products and create wish lists.
          </li>
        </ul>
      </div>
      <footer style="padding: 32px 16px">
        <table
          cellspacing="0"
          cellpadding="0"
          border="0"
          style="
            width: 100%;
            color: rgb(122, 122, 122);
            font-family: Arial, sans-serif;
            font-size: 12px;
          "
        >
          <tbody width="600">
            <tr>
              <td rowspan="3" align="center">
                <h2
                  style="
                    font-size: 40px;
                    margin: 0;
                    color: #000;
                    text-align: center;
                    font-family: serif;
                    font-weight: 800;
                    font-style: normal;
                  "
                  class="font-principal"
                >
                  Contact
                </h2>
                <ul
                  style="
                    list-style: none;
                    padding: 0;
                    display: grid;
                    gap: 0.5em;
                  "
                >
                  <li>no-reply@mail.com</li>
                  <li>+# ###-###-####</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          cellspacing="0"
          cellpadding="0"
          border="0"
          style="
            margin-top: 2em;
            width: 100%;
            color: rgb(122, 122, 122);
            font-family: Arial, sans-serif;
            font-size: 12px;
          "
        >
          <tbody width="600">
            <tr>
              <td rowspan="3" align="center">
                <h2
                  style="
                    font-size: 40px;
                    margin: 0;
                    color: #000;
                    text-align: center;
                    font-family: serif;
                    font-weight: 800;
                    font-style: normal;
                  "
                  class="font-principal"
                >
                  Follow us
                </h2>
                <div
                style="
                  margin-top: 1em;
                
                "
              >
                <a
                  style="
                    color: transparent !important;
                    text-decoration: none !important;
                  "
                  href="https://www.facebook.com"
                >
                  <img
                    src="https://img.icons8.com/?size=30&id=8818&format=png"
                    alt="facebook"
                  />
                 
                </a>
                <a
                  style=" 
                  margin-left: 1em;
                    color: transparent !important;
                    text-decoration: none !important;
                  "
                  href="https://www.instagram.com"
                >
                <img
                    src="https://img.icons8.com/?size=30&id=32309&format=png"
                    alt="instagram"
                  />
                </a>
      
                  
                <a href="https://twitter.com" style="margin-left: 1em;">
                  <img
                  src="https://img.icons8.com/?size=30&id=phOKFKYpe00C&format=png"
                  alt="twitter"
                />
              </a>
                </a>
         
              </div>
              </td>
            </tr>
          </tbody>
        </table>
      </footer>
    </div>
  </body>
</html>
